
## <summary>policy for uscoin</summary>


########################################
## <summary>
##	Transition to uscoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`uscoin_domtrans',`
	gen_require(`
		type uscoin_t, uscoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, uscoin_exec_t, uscoin_t)
')


########################################
## <summary>
##	Execute uscoin server in the uscoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uscoin_initrc_domtrans',`
	gen_require(`
		type uscoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, uscoin_initrc_exec_t)
')


########################################
## <summary>
##	Search uscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uscoin_search_lib',`
	gen_require(`
		type uscoin_var_lib_t;
	')

	allow $1 uscoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read uscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uscoin_read_lib_files',`
	gen_require(`
		type uscoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, uscoin_var_lib_t, uscoin_var_lib_t)
')

########################################
## <summary>
##	Manage uscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uscoin_manage_lib_files',`
	gen_require(`
		type uscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, uscoin_var_lib_t, uscoin_var_lib_t)
')

########################################
## <summary>
##	Manage uscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uscoin_manage_lib_dirs',`
	gen_require(`
		type uscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, uscoin_var_lib_t, uscoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a uscoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`uscoin_admin',`
	gen_require(`
		type uscoin_t;
		type uscoin_initrc_exec_t;
		type uscoin_var_lib_t;
	')

	allow $1 uscoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, uscoin_t)

	uscoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 uscoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, uscoin_var_lib_t)

')

